.card-text {
    text-align: center;
}

.char-card {
    height: 95%;
}

.content-color {
    color: #EEEEEE;
}

.hiragana-table {
    /*margin-left: 15%;*/
}

.summary {
    margin-bottom: 1%;
}

.title {
    text-align: center;
    color: #f96d00;
}