.active {
    color: #f96d00!important;
}

.alpha-select {
    width: 100%;
    text-align: center;
}

.drawer {
    background-color: #393e46;
}

.drawer-title {
    text-align: center;
}

.label {
    margin-left: 3%;
}

.list-item {
    color: #EEEEEE;
}