.palette {
  --black: #232931;
  --grey: #393E46;
  --teal: #4ECCA3;
  --white: #EEEEEE;
}

body {
  background-color: #232931;
  color: #EEEEEE;
  font-family: "Noto Sans", sans-serif;
}

.japanese {
  color: #EEEEEE;
  font-family: "Noto Sans JP", sans-serif;
}
